:root {
    --gameBoardColor: purple;
}
html {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: black;
    font-size: 70px;
}
#gameBoard {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--gameBoardColor);
    margin: 100px auto auto auto;
    grid-template-areas: 
        "TL TM TR"
        "ML MM MR"
        "BL BM BR";
    padding: 10px;
}
.boardSquare {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
#TL {
   border-left-color: var(--gameBoardColor);
   border-top-color: var(--gameBoardColor);
   grid-area: TL;
}
#ML {
    border-left-color: var(--gameBoardColor);
    grid-area: ML;
}
#BL {
    border-left-color: var(--gameBoardColor);
    border-bottom-color: var(--gameBoardColor);
    grid-area: BL;
}
#TM {
    border-top-color: var(--gameBoardColor);
    grid-area: TM;
}
#MM {
    grid-area: MM;
}
#BM {
    border-bottom-color: var(--gameBoardColor);
    grid-area: BM;
}
#TR {
    border-top-color: var(--gameBoardColor);
    border-right-color: var(--gameBoardColor);
    grid-area: TR;
}
#MR {
    border-right-color: var(--gameBoardColor);
    grid-area: MR;
}
#BR {
    border-right-color: var(--gameBoardColor);
    border-bottom-color: var(--gameBoardColor);
    grid-area: BR;
}